.lg-testimonial.carousel .lg-testimonial-arrows .arrow-left {
  left: 0;
}

.lg-testimonial.carousel .lg-testimonial-arrows .arrow-right {
  right: 0;
}

.lg-testimonial .lg-testimonial-content > div {
  @media (min-width: 768px) and (max-width: 1000px) {
    padding: 0 80px;
  }
}

.lg-testimonial-content {
  h6 {
    color: theme-color("dark");
  }
}

.gform_wrapper {
  margin-top: 0 !important;
}

.service-category-slider-wrap {
  .single-service-category-slider {
    padding: 0 1px;
  }

  .slick-next::before,
  .slick-prev::before {
    color: theme-color("gray");
  }
}

.members-list {
  a {
    img {
      margin: auto;
    }
  }
}

.price-list {
  b,
  strong {
    font-weight: 800;
  }
  img {
    width: 250px;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: auto;
    margin-bottom: 1.5rem;
  }
}

.q-and-as {
  font-weight: 400;
  .h1 {
    font-size: 70px;
    @include media-breakpoint-up(md) {
      line-height: 1;
    }

    @include media-breakpoint-down(md) {
      font-size: 50px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 32px;
    }
  }
  .questions {
    color: theme-color("primary");
    p {
      font-size: 20px;
      @include media-breakpoint-up(xl) {
        font-size: 2rem;
      }
    }
  }
  .answers {
    h2 {
      line-height: 1;
    }
  }
  .q-a {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}
