#site-content {
  .top-banner {
    position: relative;
    color: #fff;
    a {
      color: #fff;
      &:hover {
        color: theme-color("primary");
      }
    }
    @include media-breakpoint-down(sm) {
      h1,
      .h1 {
        margin-bottom: 0px;
      }
    }

    h1,
    h2 {
      font-weight: 800;
    }

    .btn {
      font-size: 1.3rem;
    }

    img {
      width: 100%;
      height: 300px;
      @include media-breakpoint-down(sm) {
        height: 250px;
      }
      object-fit: cover;
    }
    .gallery {
      display: flex;
    }

    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: fit-content;
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      align-items: center;
      font-weight: 400;

      > div {
        @extend .container;
        padding-top: 60px;
        padding-bottom: 60px;
        > div {
          width: 100%;
          max-width: 500px;
        }
      }
    }
  }
}

.full-page .h1 {
  border-bottom: none;
}

.home {
  .top-banner {
    img {
      height: 500px !important;
      @include media-breakpoint-down(xs) {
        height: 550px;
      }
    }
  }
  .service-category-list {
    max-width: 1200px;
    margin: auto;
  }
  .members-list {
    a {
      display: inline-block;
    }
  }
  .service-category-list {
    img {
      max-width: 80px;
    }
    h2 {
      color: theme-color("dark");
    }
  }
}

.bg-skew {
  .flexible_2_column_grid {
    img {
      width: 100%;
    }
  }
}

.block-image-mobile-100 {
  @include media-breakpoint-down(md) {
    img {
      width: 100%;
    }
  }
}

@include media-breakpoint-up(md) {
  .bg-skew {
    overflow: hidden;
    .flexible_2_column_grid {
      img {
        height: 100%;
        width: auto;
      }
      > div {
        padding: 0;
      }
      > div:nth-child(2) {
        padding: 0 80px;
        display: flex;

        .text-editor {
          align-self: center;
        }

        &::after {
          content: "";
          width: 80px;
          height: 100%;
          position: absolute;
          left: -40px;
          top: 0;
          transform: skew(-6deg, 0deg);
        }
      }
    }

    &.primary {
      .flexible_2_column_grid {
        > div:nth-child(2) {
          background-color: theme-color("primary");
          &::after {
            background: theme-color("primary");
          }
        }
      }
    }
  }
  .bg-skew-more {
    overflow: hidden;
    .flexible_2_column_grid {
      img {
        height: 100%;
      }
      > div {
        padding: 0;
      }
      > div:nth-child(2) {
        padding: 0 80px;
        display: flex;

        .text-editor {
          align-self: center;
        }

        &::after {
          content: "";
          width: 120px;
          height: 100%;
          position: absolute;
          left: -65px;
          top: 0;
          transform: skew(-9deg, 0deg);
        }
      }
    }

    &.primary {
      .flexible_2_column_grid {
        > div:nth-child(2) {
          background-color: theme-color("primary");
          &::after {
            background: theme-color("primary");
          }
        }
      }
    }
  }
  .skew-shape {
    overflow: hidden;
    .flexible_2_column_grid {
      img {
        height: 100%;
      }
      > div {
        padding: 0;
      }
      > div:nth-child(2) {
        padding: 0 80px;
        display: flex;
        .text-editor {
          align-self: center;
        }

        &::after {
          content: "";
          width: 100px;
          height: 100%;
          position: absolute;
          right: 100px;
          top: 0;
          transform: skew(-10deg, 0deg);
          background: theme-color("light");
          z-index: -1;
        }
        &::before {
          content: "";
          width: 150px;
          height: 100%;
          position: absolute;
          right: 0px;
          top: 0;
          background: theme-color("light");
          z-index: -1;
        }
      }
    }
  }
}

.primary {
  .flexible_2_column_grid {
    > div:nth-child(2) {
      .text-editor {
        background-color: theme-color("primary");
        padding: 15px;
      }
    }
  }
}

.lg-testimonial {
  h2 {
    @extend .h1;
    @extend .text-dark;
    @extend .mb-4;
    &::after {
      content: "\f10d";
      font: normal normal normal 31px/1 "Font Awesome 5 Free";
      color: theme-color("dark");
      margin: 23px 0;
      display: block;
      text-align: center;
      font-weight: 600;
    }
  }
  blockquote {
    font-size: 0.9rem;
    font-weight: 300;
    font-style: italic;
    max-width: 800px;
    margin: auto;
  }
  h6 {
    font-size: 0.9rem;
    font-style: italic;
    @extend .mt-4;
    @extend .mb-3;
  }
  &.carousel .lg-testimonial-controls {
    @include media-breakpoint-down(xs) {
      display: none;
    }
  }
}

.gform_wrapper {
  input[type="text"] {
    width: 100%;
  }

  input[type="email"],
  input[type="tel"] {
    border: 1px solid #ced4da;
  }

  textarea {
    border: 1px solid #ced4da;
  }

  input[type="text"],
  select {
    @extend .form-control;
  }

  input[type="checkbox"] {
    margin-top: 0 !important;
  }
}

.h1-xl {
  font-size: 70px;
}

.contact-us {
  .lg-map {
    height: 400px;
  }
}

.blog_list_small {
  @extend .py-5;
  @extend .mt-0;
}

.involvement_slider {
  img {
    max-width: 100px;
    margin-bottom: 10px;
    margin: auto;
  }
}

.cta-location {
  .button {
    a {
      @extend .btn-outline-white;
      @extend .h3;
      @extend .mb-0;
      font-weight: 300;
    }
  }
}

.contact-us {
  > .container {
    @extend .pt-3;
    @extend .pt-md-5;
    @extend .pb-3;
    @extend .pb-md-5;
  }
}

.inner-image-100 {
  img {
    width: 100%;
  }
}

.two-col-img-full {
  .flexible_2_column_grid {
    img {
      width: 100%;
      height: auto;
      object-fit: unset;
    }
  }
}
