hr.lg{
	margin-top: $hr-margin-y * 3;
	margin-bottom: $hr-margin-y * 3;
}

.container{
    @include media-breakpoint-up(md){
        padding-left: 50px;
        padding-right: 50px;
    }
}

.skew{
	transform: translate(1px, 0px) rotate(0deg) skew(-6deg, 0deg) scale(1, 1);
    backface-visibility: hidden;
}

.skew-revert{
	transform: skew(6deg, 0deg)
}

.lg-scroll-to-top{
	background-color: theme-color('primary');
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
    	font-size: 20px;
    }
}

.grid-2-column{
    img{
        object-fit: cover;
    }
    .text-editor{
        @include media-breakpoint-down(sm){
            padding-top: 15px;
        }
    }
}

.flexible-content{
    .text-editor{
         ul {
            padding: 0;
            padding-left: 20px;
            list-style: none; /* Remove default bullets */
        }

        ul li::before {
            content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
            color: theme-color('primary'); /* Change the color */
            font-weight: bold; /* If you want it to be bold */
            display: inline-block; /* Needed to add space between the bullet and the text */ 
            width: 1em; /* Also needed for space (tweak if needed) */
            margin-left: -1em; /* Also needed for space (tweak if needed) */
        }       
    }


    &.bg-skew.primary{
        .text-editor{
            ul li::before{
                color: #fff;
                
            }
        }
    }
    &.bg-skew-more.primary{
       .text-editor{
            ul li::before{
                color: #fff;
                
            }
        } 
    }
    &.white-bullet{
        li::before{
            color: #fff !important;
            display: inline-block;
        }
    }
}

.white-bullet{
    ul li::before{
        color: #fff !important;
        display: inline-block;
    }
}

.no-bullet{
    ul {
        list-style: none !important;
    }
    ul li::before{
        display: none !important;

    }
}

.lg-testimonial-controls{
    li{
        &::before{
            display: none !important;
        }
    }
}

.no-col-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;

}

.slick-prev:before, .slick-next:before {
    color: theme-color('primary');
}
