#site-header{
	.utility-bar{
		>div{
			@extend .container;
		}
		.left{
			display: flex;

			#menu-utility-nav {
				a{
					position: relative;
					&::after{
						position: absolute;
						left: 0;
						bottom: -5px;
						content: '';
						width: 0;
						height: 1px;
						background-color: theme-color('white');
						transition: width .4s ease-out 0s;
					}
					&:hover{
						&::after{
							width: 100%;
						}
					}
				}
			}
			.lg-social-media-cont{
				.lg-social-media{
					padding: 0;
					margin: 0;
					display: flex;
					flex-wrap: wrap;
					list-style: none;
					li{
						margin-right: 8px;
						margin-top: 5px;
						margin-bottom: 5px;

						&:last-child{
							margin-right: 0;
						}
						display: inline-block;
						i{
							padding: 5px;
							background: linear-gradient(270deg, theme-color('dark'), theme-color('dark'), #fff, #fff);
							background-position: 100% 50%;
							background-size: 300% 300%;
							width: 20px;
							height: 20px;
							display: flex;
							justify-content: center;
							align-items: center;
							border-radius: 50%;
							transition: all .5s ease-out 0s;

							&:hover{
								background-position: 1% 50%;
							}
						}
					}
				}
			}
			.menu-utility-nav-container{
				@include media-breakpoint-up(sm){
					margin-left: 30px;
				}
				#menu-utility-nav{
					margin: 0;
					padding: 0;
					list-style: none;
					display: flex;
					flex-wrap: wrap;
					li{
						margin-right: 10px;
						font-weight: 400;

						&:last-child{
							margin-right: 0;
						}
					}
				}
			}
		}
	}

	.header-main{
		.site-branding{
			@extend .container;
			.header-contact{
				@extend .d-none;
				@extend .d-md-block;
			}
		}
		.main-navigation{
			padding: 0;
			nav{
				@extend .container;
			}
		}
		@include media-breakpoint-down($nav-breakpoint-down){
			.main-navigation{
				.dropdown-menu{
					background-color: transparent;
					.dropdown-item{
						font-size: 14px;
					}
				}
			}
		}
		@include media-breakpoint-up($nav-breakpoint-up){
			&{
				padding: 0;
			}

			.site-branding{
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
				.header-contact{
					padding: 10px 0;
					p{
						margin-bottom: 0;
						line-height: 100%;
						text-align: center;

						&.h2{
							font-weight: 300;
							font-size: 24px;
						}
						&.h1{
							font-size: 33px;
						}
					}
				}
			}
			.main-navigation{
				width: 100%;
				background-color: theme-color('dark');
				#menu-main-nav{
					display: flex;
					justify-content: space-between;
					width: 100%;
					z-index: 99;
				}
				.menu-item{
					transform: translate(1px, 0px) rotate(0deg) skew(-6deg, 0deg) scale(1, 1);
					transition: background .2s ease-out 0s;
					backface-visibility: hidden;

					&.active{
						background: theme-color('primary');
					}

					&:hover{
						background: theme-color('primary');
					}
				}
				.dropdown-menu{
					overflow: hidden;
					.dropdown-item{
						transform: skew(6deg);
						display: flex;
    					flex-direction: column;

    					&::after{
							content: '';
							width: 0;
							height: 2px;
							margin-top: 6px;
							background: theme-color('primary');
							transition: width .4s ease-out 0s;
						}

						&:hover{
							&::after{
								width: 100%;
							}
						}
					}
				}
				.nav-link{
					color: #fff;
					padding: 18px 12px;
					transform: skew(6deg);
					font-weight: normal;
					backface-visibility: hidden;

					&::after{
						@include media-breakpoint-up($nav-breakpoint-up){
							display: none;
						}
					}
				}
			}
		}
	}
}