.service-cat-slider{
	.slick-track{
		margin-left: 0;
	}
	.slick-list{
		margin-left: -20px;
		margin-right: -20px;
	}
	.service-cat-slide {
		padding: 0 20px;
	}
	.slide-container {
		.slide-image{
		width: 400px;
		max-width: 100%;
		}
	}
	button.slick-prev.slick-arrow{
		left:0px;
		top:40%;
	}
	button.slick-next.slick-arrow{
		right:0px;
		top:40%;
	}
}
.slide-container {
	position: relative;
}

.slide-image {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slide-overlay {
 	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	height: 100%;
  	width: 100%;
  	opacity: 0;
  	transition: .2s ease;
  	padding: 20px;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	flex-direction: column;
  	background-color: rgba(204, 0, 3, .6);
}

.slide-container:hover{
	.slide-overlay {
  		opacity: 1;
	} 
}
